a[href="presentation.html"] {
  color: white;
}

.formation , .about_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.formation {
  margin-top: 5%;
}

.formation > div {
  width: 90%;
  display: flex;
  flex-direction: row;
  background: #ABABAB;
  margin-bottom: 4% ;
  align-items: center;
  border-radius: 10px;
}


.formation > div > div{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2%;
  max-width: 30%;
}

.formation img {
  max-width : 40%;
  height : auto;
}

.formation p {
  font-size: 18px;
  margin: 2%;
}

.formation blockquote{
  color : #9E51C2;
  font-size: 30px;
  font-weight: bold;
}

.formation > div:nth-child(1){
  background: #CBFFFB;
}

.formation > div:nth-child(2){
  background: #CBD2FF;
}

.formation > div:nth-child(3){
  background: #E6CBFF;
}

.formation > div:nth-child(1):hover {
  background: #85DED7;
}

.formation > div:nth-child(2):hover {
  background: #A5B1FF;
}

.formation > div:nth-child(3):hover {
  background: #CF9CFF;
}



