html{
	scroll-behavior: smooth;
	height: 100%;
}

body {
	margin: 0;
}

p, h1 , h2{
	font-family: system-ui;
}

h1 {
	font-size: 40px;
}
p {
	font-size: 20px;
}

nav {
	z-index: 1000;
	width: 100%;
	display: flex;
	justify-content: space-around;
	background:black;
	position : fixed;
	top : 0px;
	left: 0px;
	right: 0px;
	height: 10%;
	align-items: center;
}

nav > div {
	display: flex;
	flex-grow: 2;
	justify-content: space-evenly;
	color :#BFBFBF;
	font-size: 20px;
	cursor: pointer;

}

a {
	text-decoration: none;
	color: #BFBFBF;;
}

nav p{
}

nav a:hover {
	color : white;
}

.espace {
	padding-top: 60px ;
}


footer{
	width: 100%;
	bottom: 0;
	background: black;
	color: white;
	position:relative;
	justify-content: center;
	display: flex;
   	height:4%;
}

/* Transition d'apparition*/
.reveal {
	opacity: 0;
	transform: translateY(-30px);
}

.reveal-visible{
	opacity: 1;
	transform: translateY(0px);
	transition: .4s cubic-bezier(.5,0,0,1);
}

